:root {
	--body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	--msger-bg: #fff;
	--border: 2px solid black;
	--left-msg-bg: #ececec;
	--right-msg-bg: #579ffb;
  --section-bg: #39bee3;
  --default-text-color: #ef2828;
}
/* This is the menu bar on top  */
.navbar {
  background-color:var(--msger-bg) !important;
  border-bottom: 3px solid #ff0000;
}

.navbar-brand {
  color: var(--default-text-color) !important;
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggler {
  border: 3px solid #ffffff;
  border-radius: 50px;
}
.navbar-toggler:focus {
  border: 5px solid #ffffff;
  box-shadow: none;
}
/* Style for the little links */
.nav-link {
  color: var(--default-text-color);
  font-size: x-large;
  font-weight: 500;
}

.navbar-toggler-icon {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png);
  /* filter: invert(0) */
}
.msger {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 100%;
	max-width: -webkit-fill-available;
	margin: 25px 10px;
	height: calc(80% - 50px);
	border: 2px solid black;
	border-radius: 5px;
	background: var(--msger-bg);
	box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 2px solid black;
	color: #ef2828;
}

.msger-chat {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

.msger-chat::-webkit-scrollbar {
	width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
	background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
	background: #bdbdbd;
}

.msg {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.msg:last-of-type {
	margin: 0;
}

.msg-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background: #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
}

.msg-bubble {
	max-width: 450px;
	padding: 15px;
	border-radius: 15px;
	background: #fff;
	margin: 1.5rem;
	border-bottom-left-radius: 0;
}

.msg-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.msg-info-name {
	margin-right: 10px;
	font-weight: bold;
}

.msg-info-time {
	font-size: 1rem;
}

.left-msg .msg-bubble {
	border-bottom-left-radius: 0;
}

.right-msg {
	flex-direction: row-reverse;
}

.right-msg .msg-bubble {
	background: #071323;
	color: #fff;
	border-radius: 15px;
	border-bottom-right-radius: 0;
}

.right-msg .msg-img {
	margin: 0 0 0 10px;
}

.msger-inputarea {
	display: flex;
	padding: 10px;
	/* border-top: 2px solid black;
	background: #fff; */
  width: 100%;
}

.msger-inputarea * {
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 1em;
  
}

.msger-input {
	flex: 1;
	background: white;
  width: 80%;
}
.msger-name {
  width: 20%;
}

.msger-send-btn {
	margin-left: 10px;
	background: rgb(21, 22, 49);
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.23s;
}

.msger-send-btn:hover {
	background: rgb(38, 41, 136);
  transition: background .2s;
}

.msger-send-btn:disabled {
  background: rgb(166, 169, 255);
  transition: background .2s;
}
.clickables {
      display: flex;
    align-items: center;
    border-top: 2px solid black;
    padding: 10px;
}
.btn {
      padding: 10px;
    margin: 5px;
}
img {
	height: 50%;
	width: 50%;
	object-fit: contain;
}

.msger-chat {
	background-color: #39bee3;
  width: 100%;
  height: 60vh;
}

div.breaking {
	hyphens: auto;
}

.msg-text {
	word-wrap: break-word;
  white-space: pre-line;
}

a {
  color: #13a510;
}

iframe {
  border: 2px solid #3ed6c8;
}

@media screen and (max-width: 767px) {
	.msger {
		margin: 25px 5px;
	}
	
	.msg-bubble {
		margin: 1rem;
	}

	.msger-inputarea {
		padding: 5px;
    display: flex;
    flex-wrap: wrap;
	}

	.msg-text {
		font-size: 1rem;
	}
}

@media screen and (max-width: 550px) {
	.msger {
		margin: 25px 0;
	}
  
	.msg-bubble {
		margin: 0.5rem;
	}
  .msger-send-btn {
    margin-left: 0px;
  }
	.msger-inputarea {
		padding: 5px;
    display: flex;
    flex-direction: column;
	}
  .msger-input {
    width: 100%;
  }
	.msg-text {
		font-size: 0.9rem;
	}
}
